<h1>Listing of Budget Items</h1>

<table border="1">
  <tr>
	<th>Key</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @budgets.each do |budget| %>
  <tr>
	<td><%= budget.id %></td>
    <td><%= budget.description %></td>
    <td><%= link_to 'Show', "/budgets/#{budget.id}" %></td>
    <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
    <td><%= link_to 'Destroy', budget, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Budget', new_budget_path %>
