<h1>Listing of Users</h1>

<table border="1">
  <tr>
	<th>Id</th>
    <th>First</th>
    <th>Surname</th>
	<th>Pledge</th>
    <th>Street Address PO Box</th>
    <th>Town State Zip</th>
    <th>Email</br></th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.first %></td>
    <td><%= user.surname %></td>
	<td><%= user.pledge_id %></td>
    <td><%= user.street %> <%= user.po_box %></td>
    <td><%= user.town %> <%= user.state %> <%= user.zip %></td>
    <td><%= user.email %></td>
    <td><%= user.status %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Create PDF', user, :controller => :latex, :action => :latex %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @users %>

<%= link_to 'New User', new_user_path %>
