<h1>Listing of Users</h1>

<table border="1">
  <tr>
	<th>Id</th>
    <th>First</th>
    <th>Surname</th>
	<th>Pledge</th>
    <th>Street Address<br>PO Box</br></th>
    <th>Town<br>State</br></th>
    <th>Zip<br>Email</br></th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.first %></td>
    <td><%= user.surname %></td>
	<td><%= user.pledge_id %></td>
    <td><%= user.street %><br><%= user.po_box %></br></td>
    <td><%= user.town %><br><%= user.state %></br></td>
    <td><%= user.zip %><br><%= user.email %></br></td>
    <td><%= user.status %></td>
    <td><%= link_to 'Show', "/users/#{user.id}" %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @users %>

<%= link_to 'New User', new_user_path %>
