<h1>Listing current_years</h1>

<table>
  <tr>
    <th>Year</th>
    <th>First sunday</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @current_years.each do |current_year| %>
  <tr>
    <td><%= current_year.year %></td>
    <td><%= current_year.first_week %></td>
    <td><%= link_to 'Show', current_year %></td>
    <td><%= link_to 'Edit', edit_current_year_path(current_year) %></td>
    <td><%= link_to 'Destroy', current_year, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Current year', new_current_year_path %>
