<h1>Listing of all Donations</h1>

<table border="1">
  <tr>
    <th>Amount</th>
    <th>User</th>
    <th>QMW</th>
    <th>Date</th>
    <th>Budget</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donations.each do |donation| %>
  <tr>
    <td><%= (sprintf("%.2f", donation.amount)).rjust(10) %></td>
    <td><%= donation.user.surname + ", " + donation.user.first %></td>
    <td><%= donation.weekdate.qmw %></td>
    <td><%= donation.weekdate.date_string %></td>
    <td><%= donation.budget.description %></td>
    <td><%= link_to 'Show', donation %></td>
    <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
    <td><%= link_to 'Destroy', donation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @donations %>

<%= link_to 'New Donation', new_donation_path %>
