<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @donation.amount %>
</p>

<p>
  <b>User Id:</b>
  <%= @donation.user.id %>
</p>

<p>
  <b>User:</b>
  <%= @donation.user.surname + ", " + @donation.user.first %>
</p>

<p>
  <b>Weekdate:</b>
  <%= @donation.weekdate.date_string %>
</p>

<p>
  <b>Budget:</b>
  <%= @donation.budget.description %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
